fastapi[all]==0.135
fastapi-users[sqlalchemy]
uvicorn[standard]~=0.34
alembic~=1.13
asyncpg~=0.29
sqlalchemy~=2.0
#psycopg2-binary
aiofiles
aiohttp
aioredis
jinja2
beautifulsoup4
plotly
rich~=14.3
pytest~=8.3.1
pytest_asyncio
slowapi~=0.1
sqladmin[full]~=0.24
requests~=2.32
apscheduler~=3.11
fastapi-cache2[redis]
orjson

Faker~=40.13

# jwt
python-jose[cryptography]
pyjwt~=2.12
orjson~=3.10
pydantic~=2.8
python-dotenv~=1.0.1
httpx~=0.28
bcrypt
#pandas~=2.2.2
openpyxl~=3.1.5
gspread~=6.2

TgCrypto-pyrofork==1.2.8
pyrogram~=2.0.106